.drop-down {
  background-color: #003468;
  color: white;
  max-width: 40rem;
  margin-top: 1rem;
  text-align: left;
}

.drop-down-content {
  height: 0px;
  overflow: hidden;
  transition: height ease 1s;
}

.drop-down-title {
  font-size: 1rem;
  cursor: pointer;
}

p {
  word-wrap: break-word;
  margin: 0.5rem 1rem 1rem 1rem;
}
