.drop-down {
  background-color: aliceblue;
  padding: 2rem 10rem 2rem 10rem;
  max-width: 40rem;
}

.drop-down-content {
  background-color: aliceblue;

  height: 0px;
  overflow: hidden;
  transition: height ease 1s;
}

.drop-down-title {
  font-size: 1rem;
}
